spring:
  aot:
    enabled: true
    remove-unused-autoconfig: true
  jackson:
    deserialization:
      fail-on-unknown-properties: false
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/doacoesdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:12345678}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
      order_by:
        default_null_ordering: last
    show-sql: ${SHOW_SQL:true}
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    flywaybaseline-on-migrate: true

  servlet:
    multipart:
      max-file-size: ${MAX_FILE_SIZE:10MB}
      max-request-size: ${MAX_REQUEST_SIZE:10MB}

app:
  base-url: ${APP_BASE_URL:http://localhost:8080}
  jwt:
    secret: ${JWT_SECRET:chave-super-secreta-de-64-bytes-exatamente-para-HS512!!!1234567890}
    expiration: ${JWT_EXPIRATION:86400000}

server:
  port: ${SERVER_PORT:8080}
