spring:
  aot:
    enabled: true
    remove-unused-autoconfig: true
  jackson:
    deserialization:
      fail-on-unknown-properties: false
  main:
    allow-bean-definition-overriding: true
  mail:
    host: ${EMAIL_HOST:localhost}
    port: ${EMAIL_PORT:1025}
    username: ${EMAIL_USERNAME:teste@gmail.com}
    password: ${EMAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: ${EMAIL_SMTP_AUTH:false}
          starttls:
            enable: ${EMAIL_SMTP_STARTTLS_ENABLE:false}
            required: ${EMAIL_SMTP_STARTTLS_REQUIRED:false}
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/doacoesdb}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:12345678}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
      order_by:
        default_null_ordering: last
    show-sql: ${SHOW_SQL:true}
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    flywaybaseline-on-migrate: true

  servlet:
    multipart:
      max-file-size: ${MAX_FILE_SIZE:10MB}
      max-request-size: ${MAX_REQUEST_SIZE:10MB}

app:
  base-url: ${APP_BASE_URL:http://localhost:8080}
  jwt:
    secret: ${JWT_SECRET:chave-super-secreta-de-64-bytes-exatamente-para-HS512!!!1234567890}
    expiration: ${JWT_EXPIRATION:86400000}
  reset-password:
    base-url: ${RESET_PASSWORD_BASE_URL:http://localhost:3000/resetar-senha}
    expiration-minutes: ${RESET_PASSWORD_EXPIRATION_MINUTES:30}

server:
  port: ${SERVER_PORT:8080}
