version: "3.8"

services:
  app:
    image: registry.vitorweirich.com/praticas-extensionistas-doacoes-backend:latest
    expose:
      - "8080"
    ports:
      - "8080:8080"
    volumes:
      - uploads:/app/uploads
    environment:
      DATABASE_URL: ${DATABASE_URL:-jdbc:postgresql://db:5432/doacoesdb}
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: doacoesdb
      DB_USERNAME: postgres
      DB_PASSWORD: 12345678
      JWT_SECRET: chave-super-secreta-de-64-bytes-exatamente-para-HS512!!!1234567890
      JWT_EXPIRATION: 86400000
      MAX_FILE_SIZE: 10MB
      MAX_REQUEST_SIZE: 10MB
      SERVER_PORT: 8080
    depends_on:
      - db
      - mailhog

  db:
    image: postgres:15
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_DB: doacoesdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345678
    volumes:
      - pgdata:/var/lib/postgresql/data
  mailpit:
    # https://mailpit.axllent.org/docs/install/docker/
    image: axllent/mailpit
    container_name: mailpit
    restart: unless-stopped
    volumes:
      - ./emaildata:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

volumes:
  pgdata:
  uploads:
  emaildata:
